body {
  font-family: NotoSansCJKsc-Regular;
}
body input:-moz-placeholder,
body textarea:-moz-placeholder {
  color: #b4b4b4;
}
body input::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder {
  color: #b4b4b4;
}
section {
  display: flex;
}
section .comment {
  border: 0 none;
  padding: .3rem .3rem 0;
  flex: 1;
  background: #f0f0f0;
  resize: none;
  font-size: .3rem;
  color: #191919;
}
