body {
  background: #f0f0f0;
  font-family: NotoSansCJKsc-Regular;
  font-size: .26rem;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b4b4b4;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #b4b4b4;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b4b4b4;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b4b4b4;
}
.videoSrc {
  display: flex;
  margin: 0 .4rem;
}
.videoSrc input {
  flex: 1;
  border: 0 none;
  padding: .2rem 0;
  border-bottom: .01rem solid #b4b4b4;
  font-size: .28rem;
}
.title {
  display: flex;
  margin: 0 .4rem;
}
.title input {
  flex: 1;
  border: 0 none;
  padding: .2rem 0;
  border-bottom: .01rem solid #b4b4b4;
  font-size: .28rem;
}
.content {
  display: flex;
  margin: 0 .4rem;
}
.content textarea {
  flex: 1;
  padding-top: .1rem;
  font-size: .28rem;
  resize: none;
}
